<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/author_details.css') }}">
  </head>
  <body>
    <div> <h3>Name: {{ author.name }}</h3>
    <div> <h3>Birthdate: {{ author.birthdate }}</h3>
    <div> <h3>Date of Death: {{ author.date_of_death }}</h3>
  </form>
    </div>

  </body>
</html>