<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
  </head>
  <body>
    <form action="/" method="GET">
    <label for="sort">Sort by:</label>
    <select name="sort" id="sort">
      <option value="book">book</option>
      <option value="author">author</option>
    </select>
    <label for="keyword">Search book:</label>
    <input type="text" name="keyword" id="keyword" efaultValue="{keyword}">
    <input type="submit" value="Search">
    </form>
    <div class="container">
        <a href="{{ url_for('add_book') }}"><button class="addbook-button">Add Book</button></a>
        <a href="{{ url_for('add_author') }}"><button class="addauthor-button">Add Author</button></a>
    </div>
    {% for book in books %}
    <div> <h3><a href="{{url_for('get_book', book_id=book.id)}}">{{ book.title }}</a> by <a href="{{ url_for('get_author', author_id=book.author.id) }}">{{ book.author.name }}</a></h3>
    <form action="{{ url_for('delete_book', book_id=book.id) }}" method="post">
    <button type="submit">Delete Book</button>
  </form>
    </div>
    {% endfor %}

  </body>
</html>