<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>
    <form action="/" method="GET">
    <label for="sort">Sort by:</label>
    <select name="sort" id="sort">
      <option value="book">book</option>
      <option value="author">author</option>
    </select>
    <input type="submit" value="Sort">
    </form>
    {% for book in books %}
    <div> <h3>{{ book.title }} {{ book.author.name }}</h3>
    </div>
    {% endfor %}

  </body>
</html>